<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>

    <% result = connection.exec("select length,weight,quality,give_for from crops where give_for<>'自家消費';") %>
    <% data = [] %>
    <% result.each do |record| %>
      <% data <<  "譲渡先が自家消費ではないもののgoyaの情報: #{record["length"]}  #{record["weight"]} #{record["quality"]} #{record["give_for"]}" %>
    <% end %>
    <% result1 = connection.exec("select length,weight,quality,give_for from crops where quality=false;") %>
    <% data1 = [] %>
    <% result.each do |record| %>
      <% data1 <<  "品質が悪いもののgoyaの情報: #{record["length"]}  #{record["weight"]} #{record["quality"]} #{record["give_for"]}" %>
    <% end %>
    <form action="goya.cgi" method="post">
      下記のボタンを押すと、譲渡先が自家消費ではないもののgoyaの情報ページに飛びます<br><br>

      <input type="text" name="goya" value="<%= data.join('') %>">
      <input type="submit" name="送信">
    </form>

    <form action="goya.cgi" method="post">
      下記のボタンを押すと、品質がわるいもののgoyaの情報ページに飛びます<br><br>

      <input type="text" name="goya" value="<%= data1.join('') %>">
      <input type="submit" name="送信">
    </form>
  </body>
</html>
